/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'PT Sans', sans-serif; */
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#experience {
    height: 100vh;
    background-color: #333333;
}

.my-photo {
    width: 10vw;
    height: auto;
    border: .5vw solid #565656;
    border-radius: 50%;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.nav-list {
    margin: 1vw;
    text-decoration: none;
    color: #565656;
    transition: all .5s ease-in-out;
}

.nav-list:hover {
    font-size: 1.4rem;
    color: #ffffff;
}

.myExperience {
    height: 100vh;
    background-color: #ffffff;
    color: black;
    padding: 3.4rem 1rem 3rem 1rem
}

.head {
    font-size: 4vw;
}

.head .sub-head {
    font-size: 2vw;
}
.experience{
    font-size: 1.1rem;
}
.sub-heading{
    margin: 2vw 0vw;
    font-size: 1.4rem;
}
.padding-left{
    padding-left: 1vw;
}
.description{
    padding: 1rem 0rem 1rem 2.3rem;
}

.misc {
    margin-top: 3rem;
}

.misc a {
    text-decoration: none;
    color: green;
}

.misc p {
    margin-top: .8rem;
}

footer {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a{
    color: white;
}
.links {
    margin-top: 2rem;
}

.fa-brands {
    text-align: center;
    font-size: 1.4rem;
    padding: 1vw;
    background-color: #333333;
    border-radius: 50%;
    transition: all .5s ease-in;
}

.fa-brands:hover {
    font-size: 1.8rem;
    color: #ffffff;
}

@media only screen and (max-width: 912px) {

.main {
    width: 100vw;
    display: block;
}

#experience {
    width: 100vw;
    height: 10vh;
    background-color: #333333;
    position: relative;
}

.my-photo {
    width: 8vw;
    height: auto;
    border: .5vw solid #565656;
    border-radius: 50%;
    position: absolute;
    left: 4vw;
    transition: all 1s ease-in-out;
}

.my-photo:hover{
    width: 20vw;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: end;
    font-size: 2.5vw;
}
.nav-list:nth-child(6){
    margin-right: 40px;
}

.nav-list {
    text-decoration: none;
    color: #565656;
}

.nav-list:hover {
    font-size: 1.4rem;
    color: #ffffff;
}
.myExperience{
    padding: 20px;
}
.fa-brands {
    text-align: center;
    font-size: 1.2rem;
    padding: 1vw;
    background-color: #333333;
    border-radius: 50%;
    transition: all .5s ease-in;
}

.fa-brands:hover {
    font-size: 1.4rem;
    color: #ffffff;
}
}
@media only screen and (max-width: 550px) {
    .experience{
        font-size: .9rem;
    }
    .sub-heading{
        margin: 4vw 0vw;
        font-size: 1rem;
    }
    .padding-left{
        padding-left: 1vw;
    }
    .description{
        padding: 1rem 0rem 1rem 1rem;
    }
    


    .main {
        width: 100vw;
        display: block;
    }
    
    #experience {
        width: 100vw;
        height: 7vh;
        background-color: #333333;
        position: relative;
    }
    
    .my-photo {
        width: 8vw;
        height: auto;
        border: .5vw solid #565656;
        border-radius: 50%;
        position: absolute;
        left: 4vw;
    }
    
    .my-photo:hover{
        width: 15vw;
    }
    .nav-bar {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: end;
        font-size: 2.8vw;
    }
    .nav-list:nth-child(6){
        margin-right: 20px;
    }
    
    .nav-list {
        text-decoration: none;
        color: #565656;
    }
    
    .nav-list:hover {
        font-size: 1.4rem;
        color: #ffffff;
    }
    .myExperience{
        padding: 20px;
    }
    .fa-brands {
        text-align: center;
        font-size: 1.4rem;
        padding: 1.3vw;
        margin: 5px;
        background-color: #333333;
        border-radius: 50%;
        transition: all .5s ease-in;
    }
    
    .fa-brands:hover {
        font-size: 1.8rem;
        color: #ffffff;
    }
}